SECRET=RANDOM_STRING

NEXTAUTH_URL='http://localhost:3000'

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=

# Email (magic link)
EMAIL_SERVER_HOST=
EMAIL_SERVER_PORT=
EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=
EMAIL_FROM=


DATABASE_URL=
SHADOW_DATABASE_URL=

PUBLIC_DIR="./public"

OBJ_BUCKET_NAME=
OBJ_ENDPOINT=
OBJ_BUCKET_URL=
OBJ_ACCESS_KEY=
OBJ_SECRET_KEY=